/* override Prism JSON color styles */
:root {
    --prism-white: #ffffff;
    --prism-green: #008800;
    --prism-red: #ff2800;
    --prism-red-2: #C43B00;
    --prism-blue-2: #1199dd;
    --prism-orange: #ff8800;
    --prism-violet: #881199;

    /* GENERAL COLORS */
    --prism-bg: #212121;
    --prism-operator: #d0d0d0;
    --prism-property: #A782BB;
    --prism-string: #8EA765;
    --prism-number: #118899;
    --prism-boolean: #CC7832;
}
pre.token.block {
    min-width: 100%;
    min-height: 100%;
    width: max-content;
    padding: 1rem;
    color: var(--prism-property);
    background-color: var(--prism-bg);
}
.token.punctuation, .token.operator { color: var(--prism-operator); }
.token.property { color: var(--prism-property); }
.token.string { color: var(--prism-string); }
.token.number { color: var(--prism-number); }
.token.boolean, .token.null { color: var(--prism-boolean); }
.token.editor  {
    font-weight: 700;
    color: var(--prism-blue-2);
    text-shadow: 0 0 6px rgba(255, 255, 255, 1);
}
