:root {
    --c-blue: #0088ff;
    --c-green: #008800;
    --c-red: #ff2800;
    --c-orange: #ff8800;
    --c-gold: #ffd700;
    --c-yellow: #ffff00;
    --c-gray: #999999;
    --c-x-light: #F0E1D2;
    --c-x-light-rgb: rgb(240,225,210);
    /*--c-black: #01090f;*/
    --c-black: #333333;
    --c-black-rgb: rgb(1,9,15);
    --c-dark: #021727;
    --c-dark-rgb: rgb(2,23,39);
    --c-prev-dark: #032640;
    --c-prev-dark-rgb: rgb(3,38,64);
    --c-default: #043458;
    --c-default-rgb: rgb(4,52,88);
    --c-prev-light: #054270;
    --c-prev-light-rgb: rgb(5,66,112);
    --c-light: #065189;
    --c-light-rgb: rgb(6,81,137);
    --c-super-light: #075fa1;
    --c-super-light-rgb: rgb(7,95,161);
    --c-bright: #086db9;
    --c-bright-rgb: rgb(8,109,185);
    --c-prev-bright: #097cd2;
    --c-prev-bright-rgb: rgb(9,124,210);
    --c-vivid: #0a8aea;
    --c-vivid-rgb: rgb(10,138,234);
    --c-sky: #1897f5;
    --c-sky-rgb: rgb(24,151,245);
    --c-soft-sky: #31a2f6;
    --c-soft-sky-rgb: rgb(49,162,246);
    --c-light-sky: #49adf7;
    --c-light-sky-rgb: rgb(73,173,247);
    --c-cloud: #61b8f8;
    --c-cloud-rgb: rgb(97,184,248);
    --c-bright-cloud: #7ac3f9;
    --c-bright-cloud-rgb: rgb(122,195,249);
    --c-soft-cloud: #92cefa;
    --c-soft-cloud-rgb: rgb(146,206,250);
    --c-lighter-cloud: #aad9fb;
    --c-lighter-cloud-rgb: rgb(170,217,251);
    --c-fade-cloud: #c3e4fc;
    --c-fade-cloud-rgb: rgb(195,228,252);
    --c-pale-blue: #dbeffd;
    --c-pale-blue-rgb: rgb(219,239,253);
    --c-near-white: #f3fafe;
    --c-near-white-rgb: rgb(243,250,254);
    --c-white: #ffffff;
    --c-white-rgb: rgb(255,255,255);
    --1px: 0.0625rem;
    --05px: 0.0313rem;
    --size-xxxs: 8px;
    --size-xxs: 10px;
    --size-xs: 12px;
    --size-sm: 14px;
    --size-md: 16px;
    --size-lg: 18px;
    --size-xl: 20px;
    --size-xxl: 24px;
    --size-xxxl: 32px;
    --padding-container: calc(100% - 4rem);
    --box-shadow: 0 3px 6px 0 rgba(1,9,15, 0.2), 0 3px 6px 0 rgba(1,9,15, 0.19);
    --box-shadow-invert: inset 0 3px 6px 0 rgba(1,9,15, 0.4);
    --box-shadow-round: 0 0 6px 0 rgba(1,9,15, 0.4), 0 0 6px 0 rgba(1,9,15, 0.39);
    --box-shadow-round-invert: inset 0 0 6px 0 rgba(1,9,15, 0.4);
    /*--btn-shadow: 0 3px 8px 0 rgba(4, 52, 88, 0.2), 0 3px 20px 0 rgba(4, 52, 88, 0.19);*/
    --btn-shadow: 0 3px 8px 0 rgba(1,9,15, 0.2), 0 3px 20px 0 rgba(1,9,15, 0.19);
    --maxIndex: 2147483647;
    --allTransition100Linear: all 100ms linear;
    --allTransition700: all 700ms ease-in-out;
    --border-radius: 0.5rem;

    /* Glass Style */
    --glass-bg: rgba(255,255,255,.5);
    --glass-super-bg: rgba(255,255,255,.7);
    --glass-blur: blur(2px);
    --glass-super-blur: blur(6px);
    --glass-border: var(--05px) solid var(--c-white);
    --glass-radius: 0.5rem;
    --glass-shadow: 0 3px 6px rgba(0,0,0,.5);
    --glass-shadow-invert: inset 0 3px 6px rgba(0,0,0,.5);
}
